a{
    text-decoration: none;
    color: white;
}
h1{
    text-align: center;
    font-family:sans-serif;
}
p{
    background-color: rgb(110, 5, 5);
    color: white;
    font-family:monospace;
    padding: 20px;
    border-radius: 10px;
}
iframe{
    height:500px ;
    width: 1000px;
    border:2px solid rgb(83, 83, 255);
    transition: 1s linear;
    border: 5px dashed red ;
    height:700px ;
    width: 1200px;
}
iframe:hover{
    transition: 1s linear;
    border: 5px dashed red ;
    height:700px ;
    width: 1200px;
}
img{
    height: 500px;
    width: 900px;
    margin: left 500px;
    border:2px solid rgb(83, 83, 255);
}
img:hover{
    transition:1s linear;
    width:1200px ;
    height: 800px;
    border:5px solid rgb(83, 83, 255);
}
body{
    background-color: rgb(255, 242, 226);
}
